# Sets
A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
set = {1,"hello",45,False}

In [2]:
type(set)

set

In [5]:
# No duplicate values are allowded in set the duplicate value is ignored
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [6]:
# It Considers 1 and True as same things and also 0 and false
thisset = {"apple", "banana", "cherry", False, True, 0,1}

print(thisset)

{False, True, 'cherry', 'banana', 'apple'}

## Adding items in set

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [9]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical) 

print(thisset)

{'pineapple', 'banana', 'mango', 'apple', 'papaya', 'cherry'}

In [13]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'banana', 'apple', 'kiwi', 'cherry'}

## Removing an item

In [14]:
thisset.remove('banana')
thisset

{'apple', 'cherry', 'kiwi', 'orange'}

In [15]:
thisset.remove('banana') # if item doesn't exist it'll raise an error

KeyError: 'banana'

In [16]:
# SO use discard()
thisset.discard('banana')

In [18]:
# pop method will remove an item from the set randomly
thisset.pop() # Here orange is removed

'orange'

In [19]:
thisset

{'apple', 'cherry', 'kiwi'}

In [20]:
thisset.clear()

In [21]:
thisset

set()

In [23]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Joining sets

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) # To join to sets
print(set3)

{'a', 1, 'b', 2, 3, 'c'}

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2 # This is also same as union but it will only work when both are sets union will work even if the set2 is list or tuple etc
print(set3)

{'a', 1, 'b', 2, 3, 'c'}

In [27]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2) # This updates set1 and insert all elements of set 2 in set 1
print(set1)

{'a', 1, 'b', 2, 3, 'c'}

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2) # This return the similar elements only
print(set3)

{'apple'}

In [29]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2 # WE CAN  use & insted of intersection
print(set3)

{'apple'}

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2) # This will keep only similar items in set1 and remove other items from set 1

print(set1)

{'apple'}

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2) # This will only keep differnt items

print(set3)

{'banana', 'cherry'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2 # Can use - insted of difference this also works with only sets and not list and tuples
print(set3)

{'banana', 'cherry'}

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2) # updated set1

print(set1)

{'banana', 'cherry'}

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2 # Similar to above but only with sets
print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'google', 'microsoft', 'cherry'}