### Tuples
Tuple items are ordered, unchangeable, and allow duplicate values.

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [2]:
#To get Length Of Tuples
len(thistuple)

5

In [3]:
# Creating a tuple with only single item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [4]:
#Tuples with different types of data 
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [5]:
# Single tuple with multiple type of data
tuple1 = ("abc", 34, True, 40, "male")

In [7]:
type(tuple1)

tuple

In [10]:
# Use Tuple() To make tuple
thistuple = tuple((1,"hello"))

## Access Tuples

In [11]:
thistuple[1]

'hello'

# Indexing same as List

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

## To update a tuple

In [15]:
# First change to list then update it and again change it to tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(type(x))

<class 'tuple'>

In [16]:
# Unpacking A tuples
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# To loop from a tuple

In [17]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

## Joining Tuples

In [19]:
newtuple = thistuple + thistuple
newtuple

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [22]:
new2tuple = 3 * thistuple
new2tuple

('apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry')

### Methods

In [23]:
# To check count
new2tuple.count("apple")

3

In [25]:
# To get the index
new2tuple.index("apple")

0